<%- include("header"); %>
<div class=" p-5  d-flex justify-content-center" style="margin-top:150px">
        <div class="modal-content failure">
          <div class="modal-header border-0">
            <img src="/img/cross.png" alt="failure" style="margin-top: -118px;
                        margin-left: 116px;
                        width: 227px;
                        height: 230px;">
          </div>
          <div class="modal-body text-center border-0 p-0">
            <h2><strong>OOPS !! </strong></h2>
            <h3><strong>Something went wrong</strong></h3>
          </div>
          <div class="modal-footer border-0" style="display:block !important;">
            <div class="row">
              <div class="col-12">
                <a href="/customers"><button type="button" class="btn text-white w-100 p-3" style="background:#f33849;"><h4>Back to Customers Record</h4></button></a>
              </div>
            </div>
          </div>
        </div>
</div>
<%- include("footer"); %>
