<%- include("header"); %>

<div class="text-center main">
    <div class="header-main">
      <h1 class="pt-5"><strong>Experience Our Expertise.</strong></h1>
      <p>Thank you for trusting Sehgal Banks Ltd with your business.
        <br>We are here to help you every step of the way. </p>
    </div>
</div>


<%- include("footer"); %>
