<%- include("header"); %>

<div class="text-center main row align-items-center">
    <div class="header-main">
      <div class="">
        <h1 class="pt-5"><strong>Experience Our Expertise.</strong></h1>
        <p>Thank you for trusting Sehgal Banks Ltd with your business.
          <br>We are here to help you every step of the way. </p>
      </div>
    </div>
</div>


<%- include("footer"); %>
