<%- include("header"); %>
<div class=" p-5  d-flex justify-content-center" style="margin-top:150px">
        <div class="modal-content success">
          <div class="modal-header border-0">
            <img src="/img/tick.png" alt="success" style="margin-top: -118px;
        margin-left: 120px;">
          </div>
          <div class="modal-body text-center border-0">
            <h2><strong>Successfully Done !!</strong></h2>
          </div>
          <div class="modal-footer border-0" style="display:block !important;">
            <div class="row">
              <div class="col-12">
                <a href="/customers"><button type="button" class="btn text-white w-100 p-3" style="background:#5ece2b;"><h4>Updated Customers Record</h4></button></a>
              </div>
            </div>
          </div>
        </div>
</div>
<%- include("footer"); %>
